body {
    margin: 0;
}

.pai {
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
}

.dados {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    width: 720px;
    height: 700px;
    border-radius: 5px;
    border: 3px solid rgb(15, 93, 11);
}

.dados > h3 {
    font-size: 24px;
    margin-top: 0;
}

.formulario {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#infoValorAposta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

#mostrar {
    display: none;
    border-radius: 5px;
    width: 120px;
    padding: 4px;
    border: 2px solid rgb(2, 2, 22);
    position: relative;
    left: 80px;
    top: -20px;
    margin-right: -110px;
}

#passar_mouse {
    color: red;
    font-weight: bolder;
    margin-left: 6px;
    background-color: rgb(198, 201, 200);
    border-radius: 6px;
    padding-left: 1.5px;
    padding-right: 1.5px;
}

#passar_mouse:hover #mostrar {
    display: flex;
    margin-bottom: -50px;
    margin-left: -15px;
}

#valorApostar {
    text-align: center;
    background-color: aliceblue;
    border-color: black;
    border-radius: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 250px;
    margin-bottom: 35px;
}

#QuadroAposta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

#imagemIcon {
    margin-left: 5px;
    margin-top: 5px;
}

#iconValidacao, #iconInvalidacao, #iconValidacaoRodadas, #iconInvalidacaoRodadas, #iconValidacaoNumeros, #iconInvalidacaoNumeros {
    display: none;
    width: 20px;
    height: auto;
}

/*numero de rodadas*/

#QuadroNumeroAposta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

/*numeros escolhis para a aposta*/

#QuadroNumerosEscolhidos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

#numeroRodadas {
    text-align: center;
    background-color: aliceblue;
    border-color: black;
    border-radius: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 250px;
    margin-bottom: 35px;
}

#respostaNumeroRodadas {
    margin: 0;
}

#numeroApostado {
    text-align: center;
    background-color: aliceblue;
    border-color: black;
    border-radius: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 320px;
    margin-bottom: 35px;
}

#respostaNumApostados {
    margin-top: 0;
}


.botao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0.5em;
}

.botaoEntrar {
    background-color: darkgreen;
    width: 250px;
    padding: 12px;
    border-radius: 10px;
    border: 5px solid white;
    color: white;
    font-weight: bold;
    font-size: 17px;
}
