body {
    margin: 0%;
    padding: 0%;
    background-color: #102837;
}

.pai {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.barraSuperior {
    width: 100%;
    height: 50px;
    background-color: #B8000C;
    margin: 0% 0px 0px 0px;
    padding: 10px 0px 20px 0px;
}

.boasVindas {
    width: 50%;
    background-color: rgb(188, 205, 200);
    border-radius: 15px;
    margin: 10px 0px 10px 0px;
    text-align: center;
}

.div-mae {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-content: center;
    margin-top: 15px;
}

.filho1 {
    width: 65%;
    height: auto;
    margin-bottom: 0%;
    padding-right: 0%;
    background-color: #25577d;
    padding: 5px;
}

.filho2 {
    width: 35%;
    height: auto;
    float: right;
    margin-bottom: 0%;
    padding-right: 0%;
    background-color: #0c151c;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
}

.regras-bolas {
    background-color: azure;
    border-radius: 15px;
    float: left;
    margin: 6px 0px 6px 0px;
}

.bolasParaEscolher {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
}

.linha-um {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-content: center;
    align-items: center;
}

.linha-um > .be1, .linha-um > .be2, .linha-um > .be3, .linha-um > .be4, .linha-um > .be5, .linha-um > .be6, .linha-um > .be7, .linha-um > .be8, .linha-um > .be9, .linha-um > .be10, .linha-um > .be11, .linha-um > .be12, .linha-um > .be13, .linha-um > .be14, .linha-um > .be15, .linha-um > .be16, .linha-um > .be17, .linha-um > .be18, .linha-um > .be19, .linha-um > .be20, .linha-um > .be21, .linha-um > .be22, .linha-um > .be23, .linha-um > .be24, .linha-um > .be25, .linha-um > .be26, .linha-um > .be27, .linha-um > .be28, .linha-um > .be29, .linha-um > .be30, .linha-um > .be31, .linha-um > .be32, .linha-um > .be33, .linha-um > .be34, .linha-um > .be35, .linha-um > .be36, .linha-um > .be37, .linha-um > .be38, .linha-um > .be39, .linha-um > .be40, .linha-um > .be41, .linha-um > .be42, .linha-um > .be43, .linha-um > .be44, .linha-um > .be45, .linha-um > .be46, .linha-um > .be47, .linha-um > .be48, .linha-um > .be49, .linha-um > .be50 {
    margin: 15px 15px 5px 15px;
    border-radius: 100px;
    border: #b00e82 2px solid;
    padding: 10px;
    width: 26px;
    background-color: #b3cfe1;
    font-weight: bolder;
    font-size: 18px;
}

.linha-um > .be1:hover, .linha-um > .be2:hover, .linha-um > .be3:hover, .linha-um > .be4:hover, .linha-um > .be5:hover, .linha-um > .be6:hover, .linha-um > .be7:hover, .linha-um > .be8:hover, .linha-um > .be9:hover, .linha-um > .be10:hover, .linha-um > .be11:hover, .linha-um > .be12:hover, .linha-um > .be13:hover, .linha-um > .be14:hover, .linha-um > .be15:hover, .linha-um > .be16:hover, .linha-um > .be17:hover, .linha-um > .be18:hover, .linha-um > .be19:hover, .linha-um > .be20:hover, .linha-um > .be21:hover, .linha-um > .be22:hover, .linha-um > .be23:hover, .linha-um > .be24:hover, .linha-um > .be25:hover, .linha-um > .be26:hover, .linha-um > .be27:hover, .linha-um > .be28:hover, .linha-um > .be29:hover, .linha-um > .be30:hover, .linha-um > .be31:hover, .linha-um > .be32:hover, .linha-um > .be33:hover, .linha-um > .be34:hover, .linha-um > .be35:hover, .linha-um > .be36:hover, .linha-um > .be37:hover, .linha-um > .be38:hover, .linha-um > .be39:hover, .linha-um > .be40:hover, .linha-um > .be41:hover, .linha-um > .be42:hover, .linha-um > .be43:hover, .linha-um > .be44:hover, .linha-um > .be45:hover, .linha-um > .be46:hover, .linha-um > .be47:hover, .linha-um > .be48:hover, .linha-um > .be49:hover, .linha-um > .be50:hover {
    background-color: rgb(210, 207, 52);
}

/* div responsavel sobre valor de aposta*/
.valorDeAposta {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-content:flex-start;
    align-items:flex-start
}

.valorAposta {
    padding: 15px;
    border-radius: 10px;
    border: solid 2px rgb(36, 200, 36);
    width: 200px;
}

/**** div com as regras do jogo ****/
.regras {
    background-color: #102837;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    height: auto;
    border-radius: 10px;
    border: 2px solid #B8000C;
    color: white;
    margin: 20px 15px 10px 15px;
    padding: 25px;
}          

/* mostra a quantidadade de bolas que o jogador esta escolhendo*/

.avisoQtdBolas {
    width: 150px;
    background-color: aliceblue;
    padding: 2px;
    border-radius: 10px;
    border: 3px rgb(10, 143, 10) solid;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.QtdBolas {
    font-weight: bolder;
    font-size: 20px;
}

.titulo {
    background-color: #b3cfe1;
}

/* mostra se ja alcançou o numero maximo de bolas*/

.MsgBolas {
    display: none;
    margin-top: 5px;
    border: #B8000C 3px solid;
    padding: 6px;
    background-color: blanchedalmond;
    border-radius: 8px;
}

/**** botao para enviar os dados ****/
.botao {
    background-color: darkgreen;
    width: 250px;
    padding: 12px;
    border-radius: 10px;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 10px;
}



/***** area responsavel pelo jogo *****/



/*banner que informa qual a rodada atual*/
#bannerDeRodada {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    background-color: #102837;
    color: white;
    margin-top: 20px;
    border: #B8000C solid 2px;
    border-radius: 30px;
    width: 80%;
}


/*div que guarda as bolas sorteadas*/
.bolasSorteadas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #102837;
    color: white;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

.armazenaBolasSorteadas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: auto;
    border: greenyellow solid 2px;
    border-radius: 10px;
    margin: 10px 0px 20px 0px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container > .bs1, .container > .bs2, .container > .bs3, .container > .bs4, .container > .bs5, .container > .bs6, .container > .bs7, .container > .bs8, .container > .bs9, .container > .bs10, .container > .bs11, .container > .bs12, .container > .bs13, .container > .bs14, .container > .bs15, .container > .bs16, .container > .bs17, .container > .bs18, .container > .bs19, .container > .bs20 {
    margin: 20px;
    border-radius: 170px;
    border: #dc1fa7 2px solid;
    padding: 10px;
    width: 26px;
    background-color: aliceblue;
}

.bs1 > p, .bs2 > p, .bs3 > p, .bs4 > p, .bs5 > p, .bs6 > p, .bs7 > p, .bs8 > p, .bs9 > p, .bs10 > p, .bs11 > p, .bs12 > p, .bs13 > p, .bs14 > p, .bs15 > p, .bs16 > p, .bs17 > p, .bs18 > p, .bs19 > p, .bs20 > p {
    font-weight: bolder;
    color: red;
    font-size: 20px;
}

.bolasAcertadas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #102837;
    color: white;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

.armazenaBolasAcertadas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: auto;
    border: rgb(253, 253, 4) solid 2px;
    border-radius: 10px;
    margin: 10px 0px 50px 0px;
}
